@model DashboardVM

@{
    ViewData["Title"] = "Criar Dashboard";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="cadastro_dashboard">
        <h2 class="text-center mb-4">Criar Dashboard</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-warning mb-3"></div>

            <div class="mb-4">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control rounded-3" placeholder="Nome para a Dashboard" />
                <span asp-validation-for="Nome" class="text-warning"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ExtratoId" class="form-label"></label>
                <select asp-for="ExtratoId" asp-items="Model.ExtratosDisponiveis" class="form-control rounded-3"></select>
            </div>

            <div class="mt-4 d-flex justify-content-between">
                <button type="submit" name="action" value="personalizado" class="btn rounded-pill">Criar Personalizado</button>
                <button type="submit" name="action" value="padrao" class="btn rounded-pill">Criar Dash Padrão</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}