@model Dashboard

<h2>@Model.Descricao</h2>
<p>Dashboard baseada no extrato: @Model.ExtratoId</p>

<iframe src="http://localhost:8501/?dashboardId=@Model.Id"
        width="100%" height="800px" style="border:none;">
</iframe>
