@model Dashboard

@{
    ViewData["Title"] = "Dashboard Interativa";
}

<h2>Dashboard Interativa</h2>

<iframe src="http://localhost:8501/?dashboardId=@Model.Id" width="100%" height="800px" frameborder="0"></iframe>

