html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item{
    background-color:#90e0ef;
    margin: 10px;
    border-radius:5px;
    transition: background-color 0.5s ease;
}
.nav-item:hover{
    background-color:#00b4d8;
}

.nav-link {
    transition: color 0.3s ease;
}
.nav-link:hover{
    color:#ffffff;
}

.btn-outline-info {
    transition: background-color 0.7s ease, color 0.7s ease;
    border-block-color: #03045e;
    color: #03045e;
    border-block-width: 2px;
    border: 2px solid;
}
.btn-outline-info:hover {
    background-color: #00b4d8;
    color: #ffffff;
}
input.form-control-color {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
}

.img-logo{
    width: 200px;
    height: 200px;
}

.d-flex{
        display: flex;
    justify-content: right;
    align-items: center;
}

.table-light {
    --bs-table-bg: #0077b6;
    text-align:center;
    color:white
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
}

.mov-card {
    border-left: 4px solid; /* Aumentada */
    border-radius: 1rem;
    transition: box-shadow 0.2s ease-in-out;
    border-width: 4px;
}

.mov-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.mov-title {
    font-weight: 600;
}

.mov-valor {
    font-size: 1.2rem;
    font-weight: bold;
}

.mov-info {
    color: #444;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger {
    border-radius: 0.5rem;
}

.title{
    color: white
}

.conteudo {
    width: auto;
    min-width: 1ch;
    padding: 0.375rem 0.75rem; /* igual do Bootstrap */
}

.sidebar {
    background-color: #03045e;
    width: 250px;
    transition: all 0.3s ease-in-out;
}

    .sidebar.d-none {
        display: none !important;
    }

#toggleSidebar {
    position: fixed;
    top: 15px;
    left: 260px;
    z-index: 1050;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggleSidebar {
    position: fixed;
    top: 15px;
    left: 260px;
    z-index: 1050;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

