html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item{
    background-color:#90e0ef;
    margin: 10px;
    border-radius:5px;
    transition: background-color 0.5s ease;
}
.nav-item:hover{
    background-color:#00b4d8;
}

.nav-link {
    transition: color 0.3s ease;
}
.nav-link:hover{
    color:#ffffff;
}

.btn-outline-info {
    transition: background-color 0.7s ease, color 0.7s ease;
    border-block-color: #03045e;
    color: #03045e;
    border-block-width: 2px;
    border: 2px solid;
}
.btn-outline-info:hover {
    background-color: #00b4d8;
    color: #ffffff;
}
input.form-control-color {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
}
.btn-outline-dark{
        transition: background-color 0.7s ease, color 0.7s ease;
}
.btn-outline-dark:hover {
    background-color: #000000;
}

.img-logo{
    width: 200px;
    height: 200px;
}

.d-flex{
        display: flex;
    justify-content: right;
    align-items: center;
}
