@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:#0077b6">Stratfy</h1>
    <p>Uma iniciativa em prol do seu controle de <u style="color:#03045e" >gastos.</u></p>
</div>
