@model STRATFY.Models.LoginVM
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" style="background: #FFFFFF; border-radius:20px">
            <h2 class="text-center">Entrar</h2>
            <hr />

            @if (ViewData["Mensagem"] != null)
            {
                if (ViewData["Mensagem"].ToString() == "Você precisa estar logado para acessar essa página.") {
                <div class="alert alert-warning text-center">
                    @ViewData["Mensagem"]
                </div>
                }
                else{
                    <div class="alert alert-danger text-center">
                        @ViewData["Mensagem"]
                    </div>
                }
            }

            <form asp-action="Login" method="post">
                <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />

                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Senha" class="form-label"></label>
                    <input asp-for="Senha" class="form-control" type="password" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

@*                 <div class="d-flex justify-content-between align-items-center mb-3">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                    <a asp-action="Cadastrar" class="btn btn-outline-secondary">Cadastrar-se</a>
                </div> *@
                <div class="d-flex justify-content-between mt-4">
                    <input type="submit" value="Entrar" class="btn rounded-pill" style="background-color: #00b4d8; color: white;"></>
                    <a asp-action="Cadastrar" class="btn rounded-pill" style="background-color: #00b4d8; color: white;">Cadastrar-se</a>
                </div>
            </form>
        </div>
    </div>
</div>
