@model STRATFY.Models.LoginVM
@{
    ViewData["Title"] = "Login";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div>
    <div class="row justify-content-center">
        <div class="formulario_logar">
            <h2 class="text-center">Entrar</h2>
            <hr />

            @if (ViewData["Mensagem"] != null)
            {
                if (ViewData["Mensagem"].ToString() == "Você precisa estar logado para acessar essa página.") {
                <div class="alert alert-warning text-center">
                    @ViewData["Mensagem"]
                </div>
                }
                else{
                    <div class="alert alert-danger text-center">
                        @ViewData["Mensagem"]
                    </div>
                }
            }

            <form asp-action="Login" method="post">
                <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />

                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Digite o seu e-mail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Senha" class="form-label"></label>
                    <input asp-for="Senha" class="form-control" type="password" placeholder="Digite sua senha" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <input type="submit" value="Entrar" class="btn rounded-pill"></>
                    <a asp-action="Cadastrar" class="btn rounded-pill">Cadastrar-se</a>
                </div>
            </form>
        </div>
    </div>
</div>
